body{
  background-color: black;
}
.clock-face{
  position: relative;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: #0E1729;
  border: 3px solid #464D5B;
}

.clock-pin{
  height: 20px;
  width: 20px;
  background-color: black;
  border: 1px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
}

.hour{
  position:absolute;
  font-size: 300%;
  font-weight: 110;
  transform: translate(-50%, -50%);
  color: white;
}

.twelve{
  left: 50%;
  top: 30px;
}

.six{
  bottom: -30px;
  left: 50%;
}

.three{
  right: 0;
  top: 50%;
}

.nine{
  left: 30px;
  top: 50%;
}

.one{
  left: 70%;
  top: 60px;
}

.two{
  left: 86%;
  top: 130px;
}

.four{
  left: 86%;
  bottom: 60px;
}

.five{
  left: 70%;
  bottom: 0;
}

.seven{
  bottom: 0;
  left: 30%;
}

.eight{
  bottom:70px;
  left: 13%;
}

.ten{
  left: 13%;
  top: 30%;
}

.eleven{
  left: 28%;
  top: 13%;
}

.hour-hand{
  position: absolute;
  width: 130px;
  height: 10px;
  background-color: #C8CBD0;
  border-radius: 20px;
  left: 50%;
  top: 50%;
  transform-origin: 0% 50%;
}

.minute-hand{
  position: absolute;
  height: 6px;
  width: 200px;
  background-color: #C8CBD0;
  border-radius: 20px;
  left: 50%;
  top: 50%;
  transform-origin: 0% 50%;
}

.second-hand{
  position: absolute;
  height: 2px;
  width: 240px;
  background-color: red;
  left: 50%;
  top: 50%;
  transform-origin: 0% 50%;
}